html{
    background-color:black;
    opacity: .9;
    font-family: helvetica;
    color: seashell;
    font-size: 22px;

}
/* navigation */
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    position: fixed;
    top: 0;
    background-color: black;
    opacity: 1;
    border-bottom: 1px solid seashell;
}

.navsec1{
    margin-left: 10px;
  
}

#logo{
    height: 50px;
}

.nav_links li{
    display: inline;
    padding: 0 30px;
    text-decoration: underline;
}


/* header */
.headercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    margin-top: 69px;
    background-image: url(../Images/img-mission-background.jpeg);
    height: 700px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-items: center;
    align-items: center;
    background-position: 50%;

}

.headerdiv{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    line-height: 5px;
}

/* body sec 1 */
.bodysec1{
    margin-top: 75px;
    
}

.bodysec1 h2, .bodysec1 h3 {
    text-align: center
}

.bodycontainer{
    width:100%;
    
    justify-content: space-around;
    align-items: center;
}

.bodysec1 img{
    height: 200px;
    width: 300px;
}

.berry_blitz {
    text-align: center;
    margin: 20px;
}

.bodycontainer1, .bodycontainer2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodycontainer1 p, .bodycontainer2 p{
    margin-top: 10px;
}

/* body sec 2 */


.test{
    background-image: url(../Images/img-locations-background.jpeg);
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    background-position: 100%;
}

.test h2{
    padding-bottom: 15px;
    padding-top: 50px;
    margin-bottom: 0px;
}

.bodysec2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.box1, .box2, .box3{
    text-align: center;
    background-color: black;
    background-size: contain;
    width: 300px;
    height: auto;
    margin: 0 40px;
    opacity: 1;
}

.bodysec2 h2, .bodysec2 p{
    padding: 10px;
}

/* footer */

footer{
    text-align: center;
    height: 200px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright{
    margin-left: 20px;
}